body{
    background-color: rgb(64, 127, 70);
    color: rgb(64, 127, 70);
    font-size: 20px;
}

b, h3{
    color: rgb(37, 79, 42);
}

h3{
    margin-top: 5px;
}

.DIVcontainerform-2{
    background-color: rgb(255, 255, 255);
    border-radius: 5mm;
    margin: 5px;
    padding: 10px;
}

.button{
    background-color: rgb(64, 127, 70);
    color: white;
    height: 40px;
    font-size: 15px;
}